# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js build output
.next/
out/

# Production
build/

# Environment variables
.env
.env.local
.env.*.local
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Testing / coverage
coverage/

# TypeScript
*.tsbuildinfo
next-env.d.ts.bak

# Vercel
.vercel

# OS files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
